<!-- header -->
<div class="header" id="home1">
    <div class="container">
        <div class="w3l_login">
            @Html.Partial("_LoginPartial")
        </div>
        <div class="w3l_logo">
            <h1><a href="/">Electronic Store<span>Your stores. Your place.</span></a></h1>
        </div>
        <div class="search">
            <input class="search_box" type="checkbox" id="search_box">
            <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
            <div class="search_form">
                <form action="/tim-kiem" method="get">
                    <input type="text" name="keyword" placeholder="Từ khóa" id="txtKeyword" />
                    <button type="submit">Tìm kiếm</button>
                </form>
            </div>
        </div>
        <div class="cart cart box_1">
            <button class="w3view-cart" id="btnCartItem" type="button" data-toggle="tooltip" data-placement="top" title="Giỏ hàng"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
        </div>
    </div>
</div>
<!-- //header -->

