<!-- modal-video -->
<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <section>
                <div class="modal-body">
                    <div class="col-md-5 modal_body_left">
                        <img src="" alt="" class="img-responsive" id="imgImageDetail" />
                    </div>
                    <div class="col-md-7 modal_body_right">
                        <h4 id="lblNameDetail"></h4>
                        <p id="lblDescriptionDetail">
                            
                        </p>
                        <div class="rating">
                            <div class="rating-left">
                                <img src="/Assets/client/images/star-.png" alt="" class="img-responsive" />
                            </div>
                            <div class="rating-left">
                                <img src="/Assets/client/images/star-.png" alt="" class="img-responsive" />
                            </div>
                            <div class="rating-left">
                                <img src="/Assets/client/images/star-.png" alt="" class="img-responsive" />
                            </div>
                            <div class="rating-left">
                                <img src="/Assets/client/images/star.png" alt="" class="img-responsive" />
                            </div>
                            <div class="rating-left">
                                <img src="/Assets/client/images/star.png" alt="" class="img-responsive" />
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="modal_body_right_cart simpleCart_shelfItem">
                            <p id="lblPriceDetail"></p>
                            <button type="submit" class="w3ls-cart">Thêm vào giỏ</button>
                        </div>
                        <h5>Color</h5>
                        <div class="color-quality">
                            <ul>
                                <li><a href="#"><span></span></a></li>
                                <li><a href="#" class="brown"><span></span></a></li>
                                <li><a href="#" class="purple"><span></span></a></li>
                                <li><a href="#" class="gray"><span></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- //modal-video -->
