<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="anhbh995@gmail.com"/>
  <add key="FromEmailPassword" value="Anhbh@123"/>
  <add key="FromName" value="ElectronicStore"/>
  <add key="AdminEmail" value="jangkyavn@gmail.com"/>
  <add key="CurrentLink" value="http://localhost:49729/"/>
</appSettings>